<section id='new-link'>
  <form action='/add_link' method='post'>
    <input type='text' name='uri' placeholder='URL'>
    <input type='text' name='title' placeholder='Title'>
    <textarea name='description'></textarea>
    <input type='text' name='tags' placeholder='Tags (space seperated)'>
    <input type='submit' value='Add Link'>
  </form>
</section>
