<html>
  <head>
    <link href='/stylesheets/app.css' rel='stylesheet' type='text'>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <header>
      <h1><a href='/' class='home button highlighted'>Bookmark Manager</a></h1>
      <nav>
        <a href='/add_link' class='add-link button highlighted'>Add Link</a>
        <ul>
          <li><a href="/users/new" class='sign-up button highlighted'>Sign Up</a></li>
          <li><a href="/sessions/new" class='sign-in button highlighted'>Sign In</a></li>
        </ul>
      </nav>
    </header>
    <section id='container'>
      <ul>
        <li><a href='/tags' class='tags button highlighted'>Tags</a></li>
      </ul>
      <% if current_user %>
        Welcome, <%= current_user.email %>!
        <form method='post' action='/log_out'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Sign Out'>
        </form>
        <form action='/search' method='post'>
          <input type='search' name='tagsearch' placeholder='Search Tags'>
          <button>Search</button>
        </form>
      <% elsif flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <%= yield %>
    </section>
    <footer>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='/javascript/app.js'></script>
  </body>
</html>