<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>Bookmark Manager</a></h1>
      <nav>
        <a href='/add_link'>Add Link</a>
        <ul>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <ul>
        <li><a href='/tags'>Tags</a></li>
      </ul>
      <% if current_user %>
        Welcome, <%= current_user.email %>!
        <form method='post' action='/log_out'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Sign Out'>
        </form>
        <form action='/search' method='post'>
          <input type='search' name='tagsearch' placeholder='Search Tags'>
          <button>Search</button>
        </form>
      <% elsif flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <%= yield %>
    </section>
    <footer>
    </footer>
  </body>
</html>