<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <header>
      <h1>Bookmark Manager</h1>
      <nav>
        <a href=''>Add Link</a>
        <ul>
          <li><a href="">Sign Up</a></li>
          <li><a href="">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
    </footer>
  </body>
</html>