<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>Bookmark Manager</a></h1>
      <nav>
        <a href='/add_link'>Add Link</a>
        <ul>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <ul>
        <li><a href='/tags'>Tags</a></li>
      </ul>
      <% if current_user %>
        Welcome, <%= current_user.email %>!
      <% end %>
      <form action='/search'>
        <input type='search' name='tagsearch' placeholder='Search tags'>
      </form>
      <%= yield %>
    </section>
    <footer>
    </footer>
  </body>
</html>