<section>
  <h4>Enter your email below to have a link to reset your password sent to you:</h4>
  <form method='post' action='/reset_password'>
    Email: <input type='text' name='email'>
    <button>Submit</button>
  </form>
</section>