.link {
  position: relative;
}

.link .radioactive {
  position: absolute;
  font-size: 24px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.link .radioactive.colored {
  color: green;
  opacity: 0;
}

#flash_container {
  position: fixed;
  top: 0;
  width: 99%;
  background: aliceblue;
  text-align: center;
}