<h2>Log In</h2>
<% if flash[:errors] %>
  <li><%= flash[:errors] %></li>
<% end %>
<form method='post' action='/sessions'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  <button>Sign In</button>
  <a href='/password_reset'>Forgotten Password?</a>
</form>